<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Imc: Calculadora</title>
    </head>
    <body>
        <div>
            {{{body}}}
        </div>
    </body>
</html>

{{#if imc}}
    <h1>Seu IMC é: {{imc}}</h1>
    <a href="/imc">Calcular novamente</a>
{{else}}
    {{> imcForm}}  
{{/if}}

{{#with data}}
    {{#renderImcTable this}}{{/renderImcTable}}
{{/with}}