<form action="/imc" method="POST">
    <label for="height">Altura (em metros):</label>
    <input type="text" id="height" name="height" required>
    
    <label for="weight">Peso (em kg):</label>
    <input type="text" id="weight" name="weight" required>
    
    <button type="submit">Calcular IMC</button>
</form>
 